@media only screen and (max-width: 300px) {
  .card-columns {
  column-count: 2 !important;
  }
}

@media only screen and (min-width: 500px) {
  .card-columns {
  column-count: 2 !important;
  }
}


@media only screen and (min-width: 700px) {
  .card-columns {
    column-count: 3 !important;
  }
}

@media only screen and (min-width: 800px) {
  .card-columns {
    column-count: 4 !important;
  }
}

@media only screen and (min-width: 900px) {
  .card-columns {
    column-count: 5 !important;
  }
}

@media only screen and (min-width: 1000px) {
  .card-columns {
    column-count: 6 !important;
  }
}